{{set . "title" "ITB Career Center Entrepreneurship Login"}}

<!-- Header -->
{{template "header.html" .}}
<header>
</header>
	<!-- Content -->
		<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
			
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="4u 6u$(narrower) 12u$(mobilep) text-centered" style="margin:auto; border: 5px dotted #E4BE44; border-radius: 15px">
							<form action="/ChangePassword" style="text-align: center; padding: 20px 40px 30px 40px" method="POST">
								<h1>Change password</h1>
								<p style="color:red; font-size: 12pt;">{{.flash.error}}</p>
								<p style="color:green; font-size: 12pt;">{{.flash.success}}</p>
								<input placeholder = "Your old password" type="password" style="margin: 0px 0px 10px 0px" name="oldpassword">
								<input placeholder = "Your new password" type="password" style="margin: 0px 0px 10px 0px" name="newpassword">
								<input placeholder = "Confirm Password" type="password" style="margin: 0px 0px 10px 0px" name="confirmpassword">
								<input type="submit" value="Change!">
							</form>
						</div>
					</div>
				</section>
		</div>		
<!-- Footer -->
{{template "footer.html" .}}
<footer>
</footer>