{{set . "title" "ITB Career Center Entrepreneurship Partnership"}}

<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
		<!-- Main -->
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
							<form action=/SavePartnership method="POST" enctype="multipart/form-data">
						        <strong>Partnership:</strong><br><br>
								<!-- jquery add elements-->
								{{range .allPartnership}}
								<div>
								<p>
									<strong>Nama Partnership</strong>
									<input type="text" name="partnershipName[]" value="{{.PartnershipName}}">
									<strong>URL Partnership (begin with http://)</strong>
									<input type="text" name="partnershipLink[]" value="{{.PartnershipLink}}">
									{{if .ImgPath}}
									<strong>Image already uploaded, choose new image to change</strong>
									{{end}}
									<input type="file" name="partnershipImg[]" accept="image/*">
								<br>
								</p>
								</div>
								{{end}}
								<div>
									<button type="button" class="btn btn-success btn-number" style="margin-top: 1em; margin-bottom: 1em;" id="partnership-add">
					                	<span class="glyphicon glyphicon-plus"></span>
					              	</button>
								</div>
							    <br><br>
							    	<input type="submit" value="Save" name="submit"/>
							</form>
						</div>
					</div>
				</section>
		</div>
	</div>
<!-- Footer -->
{{template "footer.html" .}}
<script>
require(['jquery'], 
function($) {
$("#partnership-add").click(function() {
		$(this).before(
			$('<div><p><strong>Nama Partnership</strong><input type="text" name="partnershipName[]"><strong>URL Partnership (begin with http://)</strong><input type="text" name="partnershipLink[]"><input type="file" name="partnershipImg[]" accept="image/*"><br></p></div>')
		);
	});	
});
</script>
