#div-editdelete {
  margin-left: 200px;
}
#divedit {
  float: center;
  text-align:center;
  border-style: solid;
  margin-bottom: 20px;
}
#divdelete {
  float: center;
  text-align:center;  
  border-style: solid;
  margin-bottom: 30px;
}
#cleared {
  clear: both;
}

#editeventbutton {
	background-color: blue; 
}

#deleteeventbutton {
	background-color: red; 
}

.eventdatetime {
	margin-bottom: 20px;
}