<!DOCTYPE html>

<html>
	<head>
		<title>Admin Enterpreuner</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/public/assets/dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="/public/assets/dist/css/skins/_all-skins.min.css">
		<link rel="stylesheet" href="/public/assets/plugins/datatables/jquery.dataTables.min.css">
		<script src="/public/assets/js/require.js"></script>
		<script src="/public/assets/js/config.js"></script>
		<script type="text/javascript" src="/public/assets/js/paging.js"></script>
	</head>
	
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>En</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>Enterpreunership</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="/" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/News/List"><i class="fa fa-newspaper-o"></i> <span>News</span></a></li>
		
		<li class="active treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>User Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/Users/List"><i class="fa fa-circle-o"></i> List of Users</a></li>
            <li><a href="/Users/Bundles"><i class="fa fa-circle-o"></i> List of Bundles</a></li>
          </ul>
        </li>
        <li><a href="/Events/List"><i class="fa fa-calendar"></i> <span>Event</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

<style>
a > button {
	color: black;
	margin: 0px 10px 10px 0px;
}
form button {
	background-color: transparent;
	border: transparent;
}
.successflash {
	color: green;
	font-weight: bold;
}
</style>

<!-- Content -->
<div class="content-wrapper">
	
	<section class="content-header">
      <h1>
        Manage Users
      </h1>
	</section>

		<!-- Main -->
		<section class="content">
			<p class="successflash">{{.flash.success}}</p>
			<div class="box box-primary">
				<div class="box-body">
					<div class="box-header ui-sortable-handle">
						<a href="/Users/Add"><button><b>Add a Single User</b></button></a>
						<a href="/Users/Bundles/Add"><button><b>Add a Bundle of Users</b></button></a>
					</div>
					<div class="table-responsive">
						<table class="table no-margin table-hover">
							<thead>
							<tr>
								<th width="4%"><center>Id</center></td>
								<th width="15%"><center>Username</center></td>
								<th width="15%"><center>Name</center></td>
								<th width="20%"><center>Company Name</center></td>
								<th width="10%"><center>Angkatan</center></td>
								<th width="7%"><center>Show?</center></td>
								<th width="3%"></td>
								<th width="3%"></td>
							</tr>
							</thead>
							
							<tbody>
							{{range .users}}
							<tr>
								<td><center>{{.UserId}}</center></td>
								<td><a href="{{url "Profile.Page" .UserId}}">{{.Username}}</td></a>
								<td>{{.Name}}</td>
								<td>{{.CompanyName}}</td>
								<td><center>{{.Angkatan}}</center></td>
								<td><center><input type="checkbox" class="isShownCb" name="isShownCb" value="{{.UserId}}" id="isShownCb{{.UserId}}" {{if .ShowProfile}} checked {{end}}><i class="fa fa-spinner fa-pulse fa-1x fa-fw" id="loading{{.UserId}}" style="display: none; height:"></i></center></td>
								<td>
									<form action="/Users/Delete" method="POST">
										<input type="hidden" name="id" id="id" value="{{.UserId}}">
										<button type="submit" id="submit">
											<i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i>
										</button>
									</form>
								</td>
								<td>
									<form action="/Users/Edit" method="GET">
										<input type="hidden" name="id" id="id" value="{{.UserId}}">
										<button type="submit" id="submit">
											<i class="fa fa-edit" style="color:green" aria-hidden="true"></i>
										</button>
									</form>
								</td>
							</tr>
							{{end}}
							</tbody>
						</table>
						<ul id="pagination" class="pagination-sm"></ul>
						<script>
						require(['jquery', 'pagination'], 
						function($) {
								$('.isShownCb').click( function() {
								$(this).hide();
								isChecked = $(this).is(':checked');
								userId = $(this).val();
								$("#loading" + userId).show();
								$.post("{{url "Users.ChangeShowProfile"}}",
								{
								  userId: userId
								})
								.done(function() {
									//done code here
								})
								.fail(function() {
									$('#isShownCb' + userId).prop('checked', !isChecked);
									alert("Cannot complete request");
								})
								.always(function() {
									$("#isShownCb" + userId).show();
									$("#loading" + userId).hide();
								});
							});
							
							  $('#pagination').pagination({
								items: {{.userCount}},
								itemsOnPage: {{.numUserPerPage}},
								cssStyle: 'pagination',
								hrefTextPrefix: "{{url "Users.Users"}}/",
								currentPage: {{.currentPageNum}}
							});
						});
						</script>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<script src="/public/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>
<script src="/public/assets/dist/js/app.min.js"></script>
<script src="/public/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>

</body>
</html>