<!-- Header -->
{{template "header.html" .}}

<!-- Content -->
	<div id="page-wrapper">
		<!-- Nav -->
	{{template "nav.html" .}}
		
		<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div id="content">
						<!-- Content -->
							<h3>Home News</h3>
							<div class="homeNewsOuter">
								<div class="homeNewsInner">
									<p>{{raw .latest.Content}}</p>
								</div>
								<p align="right"><a href="/News/Detail/{{.latest.NewsId}}" class="button back">Read Detail</a></p>			
							</div>
							<article>
							<h3>All News</h3>

							{{range .list}}
								{{convert_unix_time .UpdatedAt}}
								<a href="/News/Detail/{{.NewsId}}" class="homeListNews">{{.NewsTitle}}</a><br>
							{{end}}

							</article>
					</div>
				</div>
			</section>
	</div>
<!-- Footer -->
{{template "footer.html" .}}
