<!DOCTYPE html>

<html>
	<head>
		<title>Admin Enterpreuner</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="/public/assets/dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="/public/assets/dist/css/skins/_all-skins.min.css">
		<link rel="stylesheet" href="/public/assets/plugins/datatables/jquery.dataTables.min.css">
		<script src="/public/ckeditor/ckeditor.js"></script>
		<script src="/public/js/EventDetail.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		
	</head>
	
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>En</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>Enterpreunership</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="/" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/News/List"><i class="fa fa-newspaper-o"></i> <span>News</span></a></li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>User Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Users/List"><i class="fa fa-circle-o"></i> List of Users</a></li>
            <li><a href="/Users/Bundles"><i class="fa fa-circle-o"></i> List of Bundles</a></li>
          </ul>
        </li>
        <li class="active"><a href="/Events/List"><i class="fa fa-calendar"></i> <span>Event</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
<div class="content-wrapper">
	{{if .isAuthorizedAsAdmin}}
	<section class="content-header">
		<h1>
        Edit Event
		</h1>
	</section>

	<!-- Main -->

	<section class="content">
		<div class="box box-primary">
			<div class="box-body">
				<form action="/EditEvent" method="POST" enctype="multipart/form-data">
				
					<input type="hidden" name="id" value={{.id}}>
					
					<div class="from-group">
						<div class="col-xs-5">
							<label>Event Title</label>
							<input type="text" class="form-control" name="EventTitle" value={{.EventTitle}}>
						</div>
					</div>
					<br><br><br><br>
					
					<div class="from-group">
						<div class="col-xs-5">
							<label>Event Start Time</label>
							<input type="datetime-local" class="form-control" name="EventStart_RFC3339" value={{.EventStart}}>
						</div>
					</div>
					<br><br><br><br>
					
					<div class="from-group">
						<div class="col-xs-5">
							<label>Event End Time</label>
							<input type="datetime-local" class="form-control" name="EventEnd_RFC3339" value=2017-01-01T00:00>
						</div>
					</div>
					<br><br><br><br>
					
					<div class="from-group">
						<div class="col-xs-5">
							<label>Event Location</label>
							<input type="text" class="form-control" name="EventLocation" value={{.EventLocation}}>
						</div>
					</div>
					<br><br><br><br>
					
					<div class="from-group">
						<div class="kv-avatar" style="width:200px">
							<label>Event Banner</label>
							<input type="file" class="form-control" id="EventBanner" name="EventBanner" class="file-loading">
						</div>
					</div>
					<br><br><br><br>
					
					<div class="from-group">
						<label>Event Description</label>
						<textarea type="file" class="form-control" id="eventdescription" name="EventDescription"></textarea>
						<script>
							CKEDITOR.replace('eventdescription');
							CKEDITOR.instances['eventdescription'].setData("{{.EventDescription}}");
						</script>
					</div>
					<br>

					<input type="submit" class="btn btn-primary" id="applychanges" value="Apply Changes" />
				</form>
			</div>
		</div>
	</section>
	{{end}}
	
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<script src="/public/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>
<script src="/public/assets/dist/js/app.min.js"></script>
<script src="/public/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>

</body>
</html>
