<head>
	<link rel="stylesheet" type="text/css" href="/public/css/EventDetailStyle.css">
	<script src="/public/js/EventDetail.js"></script>
</head>

<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
	<!-- Main -->
		
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">					
							<article>
								{{if .EventTitle}}
								<header style="text-align: center;">
									<h2>{{.EventTitle}}</h2>
									{{if .isAuthorizedAsAdmin}}
									<div id="divedit">
									<form action="/EditEvent/{{.id}}" method=get>
									    <input type="submit" id="editeventbutton" value="Edit Event" />
									</form>
									</div>
									<div id="divdelete">
									<form action="/DeleteEvent/{{.id}}" method=get>

									    <input Onclick="return ConfirmDelete();" type="submit" id="deleteeventbutton" value="Delete Event" />
									</form>
									</div>
									{{end}}
								</header>
								{{end}}

								{{if .isAuthorizedAsAdmin}}

								{{end}}


								{{if .EventBannerPath}}
								<span class="image featured">
								<img src="{{.EventBannerPath}}" alt="" style="height:200px; object-fit: cover"/>
								</span>
								{{end}}

								{{if .EventStart}}
									{{if .EventEnd}}
									<h4>Event will hold on : </h4>
									<p>{{.EventStart}} <b>until</b> {{.EventEnd}}</p>
									<br>
									{{end}}
								{{end}}

								{{if .EventDescription}}
									<h4>What is this event about?</h4>
									{{.EventDescription}}
								{{end}}


							</article>
						</div>
					</div>
				</section>
		</div>

	</div>
<!-- Footer -->
{{template "footer.html" .}}
