{{set . "title" "ITB Career Center Entrepreneurship Contact"}}

<!-- Header -->
{{template "header.html" .}}

	<!-- Content -->
		<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
			
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									<header>
										<h2 style="color:Blue">Contact</h2>
									</header>


									<p>Bila Anda membutuhkan informasi mengenai program-program wirausaha mahasiswa dari ITB Career Center, hubungi kami melalui telepon, email, atau akun media sosial kami. </p>
									<br>
									<p><b>Alamat</b></p>
									<p>GKU Timur Lt. Dasar, Kampus ITB <br> Jl. Ganesa 10, Bandung, 40132 <br> Email: career@itb.ac.id <br> Telp/Fax: (62-22) 250 9177</p>
									<p><b>Bergabunglah dengan akun media sosial kami!</b></p>
									<p>FB Page&ensp;&ensp;&nbsp;: <a href = "https://www.facebook.com/itb.career.center/">itb.career.center</a> <br> Twitter&ensp;&ensp;&ensp;&nbsp;: <a href = "https://twitter.com/ITBCareerCenter">@ITBCareerCenter</a> <br>YouTube&ensp;&nbsp;&nbsp;: <a href = "https://www.youtube.com/user/ITBCareerCenter">ITBCareerCenter</a> <br>Google+&emsp;: <a href ="https://plus.google.com/u/0/106590411857705007612/posts">ITB CareerCenter</a> <br>LinkedIn&emsp;: <a href = "https://www.linkedin.com/company-beta/4788319/">ITB Career Center</a> <br>Instagram&ensp;: <a href = "https://www.instagram.com/itbcareercenter/">@itbcareercenter</a> <br>Line&nbsp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;: <a href = "https://line.me/ti/p/%40yyc8475l">@itbcareercenter</a></p>
								</article>

						</div>
					</div>
				</section>
		</div>
<!-- Footer -->
{{template "footer.html" .}}
