{{set . "title" "ITB Career Center Entrepreneurship Contact"}}

<!-- Header -->
{{template "header.html" .}}

	<!-- Content -->
		<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
			
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									<header>
										<h2 style="color:Blue">Contact</h2>
									</header>


									<p>Bila Anda membutuhkan informasi mengenai program-program wirausaha mahasiswa dari ITB Career Center, hubungi kami melalui telepon, email, atau akun media sosial kami. </p>
									<br>
									<p><b>Alamat</b></p>
									<p>GKU Timur Lt. Dasar, Kampus ITB <br> Jl. Ganesa 10, Bandung, 40132 <br> Email:career@itb.ac.id <br> Telp/Fax: (62-22) 250 9177</p>
									<p><b>Bergabunglah dengan akun media sosial kami!</b></p>
									<p>FB Page&ensp;&ensp;&nbsp;: itb.career.center <br> Twitter&ensp;&ensp;&ensp;&nbsp;: @ITBCareerCenter <br>YouTube&ensp;&nbsp;&nbsp;: ITBCareerCenter <br>Google+&emsp;: ITB CareerCenter <br>LinkedIn&emsp;: ITB Career Center <br>Instagram&ensp;: @itbcareercenter <br>Line&nbsp;&ensp;&ensp;&ensp;&ensp;&ensp;&nbsp;: @itbcareercenter</p>
								</article>

						</div>
					</div>
				</section>
		</div>
<!-- Footer -->
{{template "footer.html" .}}
