{{set . "title" "ITB Career Center Entrepreneurship About"}}

<!-- Content -->
<!DOCTYPE html>
<!-- Header -->
{{template "header.html" .}}
	<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
	
	<!-- Main -->
		<section class="wrapper style1">
			<div class="container">
				<div class="row">
					<section class="6u 12u(narrower)">
						<div class="box post">
							<a href="profile_detail.html" class="image left"><img src="/public/images/partner.png" width=150 height=180 alt="" /></a>
							<div class="inner">
								<h3>The First Partner</h3>
								<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
							</div>
						</div>
					</section>
					<section class="6u 12u(narrower)">
						<div class="box post">
							<a href="profile_detail.html" class="image left"><img src="/public/images/partner.png" width=150 height=180 alt="" /></a>
							<div class="inner">
								<h3>The Second Partner</h3>
								<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
							</div>
						</div>
					</section>
				</div>
				<div class="row">
					<section class="6u 12u(narrower)">
						<div class="box post">
							<a href="profile_detail.html" class="image left"><img src="/public/images/partner.png" width=150 height=180 alt="" /></a>
							<div class="inner">
								<h3>The Third Partner</h3>
								<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
							</div>
						</div>
					</section>
					<section class="6u 12u(narrower)">
						<div class="box post">
							<a href="profile_detail.html" class="image left"><img src="/public/images/partner.png" width=150 height=180 alt="" /></a>
							<div class="inner">
								<h3>The Fourth Partner</h3>
								<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
							</div>
						</div>
					</section>
				</div>
				<div class="row">
					<section class="6u 12u(narrower)">
						<div class="box post">
							<a href="profile_detail.html" class="image left"><img src="/public/images/partner.png" width=150 height=180 alt="" /></a>
							<div class="inner">
								<h3>The Fifth Partner</h3>
								<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
							</div>
						</div>
					</section>
					<section class="6u 12u(narrower)">
						<div class="box post">
							<a href="profile_detail.html" class="image left"><img src="/public/images/partner.png" width=150 height=180 alt="" /></a>
							<div class="inner">
								<h3>The Sixth Partner</h3>
								<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</div>
<!-- Footer -->
{{template "footer.html" .}}