{{set . "title" "ITB Career Center Entrepreneurship Files"}}

<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<div id="page-wrapper">
		<!-- Nav -->
		{{template "nav.html" .}}
		<!-- Main -->
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
							<form action="{{url "App.EditProfiles" .user.UserId}}" method="POST">
								<p>
									<strong>Nama Perusahaan</strong>
									<input type="text" name="user.CompanyName" value="{{.user.CompanyName}}">
								</p>
							    {{with $field := field "myName1" .}}
							    	<strong>Name Perusahaan</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
							    {{with $field := field "myName2" .}}
							    	<strong>Foto Perusahaan</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
							    {{with $field := field "myName3" .}}
							    	<strong>Deskripsi Perusahaan</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
							    {{with $field := field "myName4" .}}
							    	<strong>Link Video Perusahaan</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
							    {{with $field := field "myName5" .}}
							    	<strong>Foto Produk</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
								{{with $field := field "myName6" .}}
							    	<strong>Visi</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
								{{with $field := field "myName7" .}}
							    	<strong>Misi</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
								{{with $field := field "myName8" .}}
							    	<strong>Social Media</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
								{{with $field := field "myName9" .}}
							    	<strong>Contact</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
								{{with $field := field "myName10" .}}
							    	<strong>Nama PMW</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
								{{with $field := field "myName11" .}}
							    	<strong>Jurusan</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
								{{with $field := field "myName12" .}}
							    	<strong>Angkatan</strong>
							        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}"/><br/>
							    {{end}}
							    <input type="submit" value="Say hello!" />
							</form>
						</div>
					</div>
				</section>
		</div>
	</div>
<!-- Footer -->
{{template "footer.html" .}}

