{{set . "title" "ITB Career Center Entrepreneurship Files"}}

<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<div id="page-wrapper">
		<!-- Nav -->
		{{template "nav.html" .}}
		<!-- Main -->
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
							<form action="{{url "App.EditProfiles" .user.UserId}}" method="POST" id="editProfiles">
								<p>
									<strong>Nama Perusahaan</strong>
									<input type="text" name="user.CompanyName" value="{{.user.CompanyName}}">
								</p>
							    <p>
									<strong>Upload Foto Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Deskripsi Perusahaan</strong>
									<textarea rows="4" cols="50" name="user.CompanyDescription" form="editProfiles">{{.user.CompanyDescription}}</textarea>
								</p>
								<p>
									<strong>Link Video Youtube Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Upload Foto Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Upload Foto Produk Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Visi Perusahaan</strong>
									<input type="text" name="user.Visi" value="{{.user.Visi}}">
								</p>
								<p>
									<strong>Misi Perusahaan</strong>
									<input type="text" name="user.Misi" value="{{.user.Misi}}">
								</p>
								<p>
									<strong>Social Media Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Contact Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Nama Pemilik</strong>
									<input type="text" name="user.Name" value="{{.user.Name}}">
								</p>
								<p>
									<strong>Jurusaan</strong>
									<input type="text" name="user.Jurusan" value="{{.user.Jurusan}}">
								</p>
								<p>
									<strong>Angkatan PMW</strong>
									<input type="text" name="user.Angkatan" value="{{.user.Angkatan}}">
								</p>
							    <input type="submit" value="Submit" />
							</form>
						</div>
					</div>
				</section>
		</div>
	</div>
<!-- Footer -->
{{template "footer.html" .}}

