{{set . "title" "ITB Career Center Entrepreneurship Profiles"}}
{{set . "NamaPerusahaan" "TTONYS"}}
{{set . "DeskripsiPerusahaan" "We are good hehe"}}
{{set . "VisiMisi" "Mencari Wanita Sejati"}}
{{set . "SocialMedia" "Facebook: TonyTony"}}
{{set . "ContactUs" "081210123456"}}
{{set . "NameFounder" "Tony"}}
{{set . "Jurusan" "Teknik Informatika"}}
{{set . "Angkatan" "PMW 2014"}}

<!-- Header -->
{{template "header.html" .}}
<header>
</header>
<!-- Content -->
	<div id="page-wrapper">
		<!-- Nav -->
			<div id="header">
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/News">News</a></li>
						<li><a href="/Articles">Articles</a></li>
						<li class="current"><a href="/Files">Files</a></li>
						<li><a href="/Photos">Photo Gallery</a></li>
						<li><a href="/Videos">Videos</a></li>
						<li><a href="/Profiles">Profiles</a></li>
						<li><a href="/About">About</a></li>
						<li><a href="/Contact">Contact</a></li>
						<li><a href="/Login">Login</a></li>
					</ul>
				</nav>
			</div>
		<!-- Main -->
		{{template "pageprofile.html" .}}
		<pageprofile>
		</pageprofile>
	</div>
<!-- Footer -->
{{template "footer.html" .}}
<footer>
</footer>