{{set . "title" "ITB Career Center Entrepreneurship Users"}}

<!-- Header -->
{{template "header.html" .}}
<header>
</header>

<style>
.tableheader {
	font-weight: bold;
	font-size: 16pt;
}
.tablecontent {
	color: #777777;
}
a > button {
	color: black;
	margin: 0px 10px 10px 0px;
}
form button {
	background-color: transparent;
	border: transparent;
}
.successflash {
	color: green;
	font-weight: bold;
}
</style>
<!-- Content -->
<div id="page-wrapper">
	<!-- Nav -->
	{{template "nav.html" .}}

	<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<h1>Manage Bundles</h1>
			<p class="successflash">{{.flash.success}}</p>
			<a href="/Users/Add"><button>Add a Single User</button></a>
			<a href="/Users/Bundles/Add"><button>Add a Bundle of Users</button></a>
			<table id="content">
				<tr class="tableheader">
					<td width="5%">Id</td>
					<td width="15%">Bundle Name</td>
					<td width="1%"></td>
					<td width="1%"></td>
					<td width="40%"></td>
				</tr>
				{{range .bundles}}
				<tr class="tablecontent">
					<td>{{.BundleId}}</td>
					<td>{{.BundleName}}</td>
					<td>
						<form action="/Users/Bundles/Delete" method="POST">
							<input type="hidden" name="id" id="id" value="{{.BundleId}}">
							<button type="submit" id="submit">
								<i class="fa fa-trash-o" style="color:red" aria-hidden="true"></i>
							</button>
						</form>
					</td>
					<td>
						<form action="/Users/Bundles/DownloadCSV" method="POST">
							<input type="hidden" name="id" id="id" value="{{.BundleId}}">
							<button type="submit" id="submit">
								<i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i>
							</button>
						</form>
					</td>
				</tr>
				{{end}}
			</table>
		</div>
	</section>
</div>		
<!-- Footer -->
{{template "footer.html" .}}
<footer>
</footer>