{{set . "title" "ITB Career Center Entrepreneurship About"}}

<!-- Content -->
<!DOCTYPE html>
<!-- Header -->
{{template "header.html" .}}
	<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
	
	<!-- Main -->
		<section class="wrapper style1">
			<div class="container">
				<div id="content">

					<!-- Content -->
						{{if .authorized}}
								<a href="#" style="color: white;"><button class="btn btn-info btn-lg">Edit This Page</button></a>
						{{end}}
						<a href="/EditAbout" style="color: white;"><button class="btn btn-info btn-lg">Edit This Page</button></a>
						<br><br>
						<article>
							<header>
								<h2 style="color:Blue">Entrepreneurship</h2>
							</header>

							<span class="image featured"><img src="/public/images/aboutus.png" alt="" /></span>
							{{raw .contentabout.CkeditorAbout}}
						</article>

				</div>
			</div>
		</section>
	</div>
<!-- Footer -->
{{template "footer.html" .}}
