		<div id="page-wrapper">
			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="3u 6u(narrower) 12u$(mobilep)">
								<h3>Navigation</h3>
								<ul class="links">
									<li><a href="/">Home</a></li>
									<li><a href="/News">News</a></li>
									<li><a href="/Articles">Articles</a></li>
									<li><a href="/Files">Files</a></li>
									<li><a href="/Photos">Photo Gallery</a></li>
									<li><a href="/Videos">Videos</a></li>
									<li><a href="/Profiles">Profiles</a></li>
									<li><a href="/About">About</a></li>
									<li><a href="/Contact">Contact</a></li>
								</ul>
							</section>
							<section class="3u 6u$(narrower) 12u$(mobilep)">
								<h3>Related Links</h3>
								<ul class="links">
									<li><a href="#">Institut Teknologi Bandung</a></li>
									<li><a href="#">Lembaga Kemahasiswaan</a></li>
									<li><a href="#">LPM ITB</a></li>
									<li><a href="#">LPPM ITB</a></li>
									<li><a href="#">SPM ITB</a></li>
									<li><a href="#">USDI ITB</a></li>
								</ul>
							</section>
							<section class="6u 12u(narrower)">
								<h3>Contact Us</h3>
								<ul class="contact">
									<li>GKU Timur ITB Building Ground Floor | Jl. Ganesha 10, Bandung, 40132, Indonesia</li>
									<br>
									<li><b>Career Service</b></li>
									<li>Phone/Fax: (+62-22) 2509177 (Service Hour: 8 am to 4 pm) | Email: career@itb.ac.ids</li>
									<br>
									<li><b>Employer Service</b></li>
									<li>Phone/Fax: (+62-22) 2509162 | Email: employerservices@itb.ac.id</li>
								</ul>
							</section>
						</div>
					</div>

					<!-- Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
							<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>ITB Career Center&copy; 2012-2017</li>
							</ul>
						</div>
					
				</div>
			<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.dropotron.min.js"></script>
			<script src="/public/assets/js/skel.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/public/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/public/assets/js/main.js"></script>
			    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
			{{range .moreStyles}}
			  <link rel="stylesheet" type="text/css" href="/public/{{.}}">
			{{end}}
			{{range .moreScripts}}
			  <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
			{{end}}
		</div>	
	</body>
</html>