<!-- Nav -->
	<div id="header">
		<nav id="nav">
			<ul>
				{{if .home}}
				<li class="current"><a href="/">Home</a></li>
				{{else}}
				<li><a href="/">Home</a></li>
				{{end}}
				{{if .news}}
				<li class="current"><a href="/News">News</a></li>
				{{else}}
				<li><a href="/News">News</a></li>
				{{end}}
				{{if .profiles}}
				<li class="current"><a href="/Profiles">Profiles</a></li>
				{{else}}
				<li><a href="/Profiles">Profiles</a></li>
				{{end}}
				{{if .partner}}
				<li class="current"><a href="/Partner">Partner</a></li>
				{{else}}
				<li><a href="/Partner">Partner</a></li>
				{{end}}
				{{if .about}}
				<li class="current"><a href="/About">About</a></li>
				{{else}}
				<li><a href="/About">About</a></li>
				{{end}}
				{{if .contact}}
				<li class="current"><a href="/Contact">Contact</a></li>
				{{else}}
				<li><a href="/Contact">Contact</a></li>
				{{end}}
				{{if .login}}
				<li class="current"><a href="/Login">Login</a></li>
				{{else}}
				<li><a href="/Login">Login</a></li>
				{{end}}
				
				
			</ul>
		</nav>
	</div>