<!-- Nav -->
	<div id="header">
		<nav id="nav">
			<ul>
				<li {{if .home}}class="current"{{end}}><a href="/">Home</a></li>
				
				
				<li {{if .news}}class="current"{{end}}><a href="/News">News</a></li>
				
				
				<li {{if .articles}}class="current"{{end}}><a href="/Articles">Articles</a></li>
				
				
				<li {{if .files}}class="current"{{end}}><a href="/Files">Files</a></li>
				
				
				<li {{if .photos}}class="current"{{end}}><a href="/Photos">Photo Gallery</a></li>
				
				
				<li {{if .videos}}class="current"{{end}}><a href="/Videos">Videos</a></li>
				
				
				<li {{if .profiles}}class="current"{{end}}><a href="/ListProfiles">Profiles</a></li>
				
				
				<li {{if .about}}class="current"{{end}}><a href="/About">About</a></li>
				
				
				<li {{if .contact}}class="current"{{end}}><a href="/Contact">Contact</a></li>
				
				
				<li {{if .login}}class="current"{{end}}><a href="/Login">Login</a></li>
				
				
				
				
			</ul>
		</nav>
	</div>