
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->
							<article>
								<header style="text-align: center;">
									<h2>{{.NamaPerusahaan}}</h2>
								</header>
								<div class="row">
									<h3>Perusahaan Kami</h3>
									<span class="image featured"><img src="/public/images/banner.jpg" alt="" /></span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor tellus ac leo pharetra, vitae mollis tellus dapibus. Integer in odio rhoncus ante consequat sagittis eget in nisi. Ut vulputate, lectus ut eleifend molestie, mauris lacus pellentesque erat, id tempus lectus lectus in massa. Nam pulvinar massa a turpis finibus, vitae faucibus ligula sagittis. Etiam cursus quis felis quis bibendum. Sed id ultrices lectus. Donec id lectus ex. Aliquam scelerisque, tellus ac ornare dignissim, lectus tortor sagittis quam, a porta ante magna sed nisi. Aenean porta mollis elit, eu rhoncus massa consectetur sit amet. Mauris consequat ligula non justo facilisis, nec sodales quam ultricies. Cras ipsum nisl, finibus in ligula ac, egestas ornare odio. Aenean facilisis non velit in ullamcorper. Donec arcu orci, ullamcorper vitae sodales fringilla, auctor at metus. Phasellus in convallis est, efficitur pellentesque justo. In hac habitasse platea dictumst. </p>
								</div>
								<div class="row">
									<h3>Produk Kami</h3>
									<span class="image featured"><img src="/public/images/banner.jpg" alt="" /></span>
								</div>
								
								<h3>Visi dan Misi</h3>
								<p>Mencari Wanita Sejati</p>
								<p>Our Social Media:</p>
								<p>Contact Us:</p>
								
								<footer>
									<h2>Founder:</h2>
									<p>Tony</p>	
									<p>Teknik Informatika</p>
									<p>PMW 2014</p>
								</footer>
							</article>
						</div>
					</div>
				</section>
		</div>