
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
								<button class="button"><a href="/ProfilesForm">Edit this Page</a></button>
							{{if .authorized}}
								<button class="button">Edit this Page</button>
							{{end}}
							<!-- Content -->
							<article>
								<header style="text-align: center;">
									<h2>{{.NamaPerusahaan}}</h2>
								</header>
								<div class="row">
									<h3>Perusahaan Kami</h3>
									<!-- for gambarnya -->
									<!-- {{range $index, $element := .results}}
									<tr class="{{if even $index}}light-row{{else}}dark-row{{end}}">
										...
									</tr>
									{{end}} -->
									<span class="image featured"><img src="/public/images/banner.jpg" alt="" /></span>
									<p>{{.DeskripsiPerusahaan}}</p>
								</div>
								<div class="row">
									<h3>Video Perusahaan Kami</h3>
									<!-- video -->
									<span class="image featured"><img src="/public/images/banner.jpg" alt="" /></span>
								</div>
								<div class="row">
									<h3>Produk Kami</h3>
									<span class="image featured"><img src="/public/images/banner.jpg" alt="" /></span>
								</div>
								
								<h3>Visi Perusahaan</h3>
								<p>{{.Visi}}</p>
								<br>
								<h3>Misi Perusahaan</h3>
								<p>{{.Misi}}</p>
								<br>
								<h3>Our Social Media</h3>
								<!-- for social media -->
								{{range .userSocialMediaView}}
								<p>{{.SocialMediaName}} : {{.SocialMediaURL}}</p>
								{{end}}
								<br>
								<h3>Contact Us</h3>
								{{range .userContactView}}
								<p>{{.ContactType}} : {{.Contact}}</p>
								{{end}}
								<br>
								<footer>
									<h2>Founder</h2>
									<p>{{.NameFounder}}</p>	
									<p>{{.Jurusan}}</p>
									<p>{{.Angkatan}}</p>
								</footer>
							</article>
						</div>
					</div>
				</section>
		</div>