<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<link rel="stylesheet" href="/public/assets/css/fileinput.min.css" />
	<div id="page-wrapper">
		<!-- Nav -->
		{{template "nav.html" .}}
		<!-- Main -->
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
							
							<button type="button" class="btn" style="margin-bottom: 1em;">
								<a href="{{url "Profile.Page" .user.UserId}}" class="icon fa-chevron-left" style="color: black;"> Back</a>
							</button>
							<form action="{{url "Profile.Edit" .user.UserId}}" method="POST" id="editProfile">
								<p>
									<strong>Nama Perusahaan</strong>
									<input type="text" name="user.CompanyName" value="{{.user.CompanyName}}">
								</p>
								<p>
									<strong>Deskripsi Perusahaan</strong>
									<textarea rows="4" cols="50" name="user.CompanyDescription" form="editProfiles">{{.user.CompanyDescription}}</textarea>
								</p>
								<p>
									<strong>Link Video Youtube Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Upload Foto Perusahaan</strong>
									<input type="text">
								</p>
								<div class="form-group">
									<label class="control-label">Upload Foto Produk Perusahaan</label>
									<input id="input-24" name="input24[]" type="file" multiple class="file-loading">
								</div>
								<p>
									<strong>Visi Perusahaan</strong>
									<input type="text" name="user.Visi" value="{{.user.Visi}}">
								</p>
								<p>
									<strong>Misi Perusahaan</strong>
									<input type="text" name="user.Misi" value="{{.user.Misi}}">
								</p>
								<div>
									<strong>Social Media Perusahaan</strong>
									<br>
									<button type="button" class="btn btn-success btn-number" style="margin-top: 1em; margin-bottom: 1em;" id="social-media-add">
					                	<span class="glyphicon glyphicon-plus"></span>
					              	</button>
					              	{{ range $_, $userSocialMedia := .userSocialMedias }}
					              	<div class="form-inline" style="margin-bottom: 1em;">
					              		<div class="form-group">
					              			<select name="socialMediaTypes[]" class="form-control" value="Twitter">
					              				<option value="Facebook" {{if eq $userSocialMedia.SocialMediaName "Facebook"}}selected{{end}}>Facebook</option>
					              				<option value="Website" {{if eq $userSocialMedia.SocialMediaName "Website"}}selected{{end}}>Website</option>
					              				<option value="Twitter" {{if eq $userSocialMedia.SocialMediaName "Twitter"}}selected{{end}}>Twitter</option>
					              				<option value="Google+" {{if eq $userSocialMedia.SocialMediaName "Google+"}}selected{{end}}>Google+</option>
					              				<option value="LinkedIn" {{if eq $userSocialMedia.SocialMediaName "LinkedIn"}}selected{{end}}>LinkedIn</option>
					              				<option value="Instagram" {{if eq $userSocialMedia.SocialMediaName "Instagram"}}selected{{end}}>Instagram</option>
					              			</select>
					              			<input type="text" name="socialMediaURLs[]" class="form-control" placeholder="Type the URL here" value="{{$userSocialMedia.SocialMediaURL}}">
					              			<button type="button" class="btn btn-danger btn-number"><span class="glyphicon glyphicon-minus"></span></button>
					              		</div>
					              	</div>
					              	{{end}}
								</div>
								<p>
									<strong>Contact Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Nama Pemilik</strong>
									<input type="text" name="user.Name" value="{{.user.Name}}">
								</p>
								<p>
									<strong>Jurusaan</strong>
									<input type="text" name="user.Jurusan" value="{{.user.Jurusan}}">
								</p>
								<p>
									<strong>Angkatan PMW</strong>
									<input type="text" name="user.Angkatan" value="{{.user.Angkatan}}">
								</p>
							    <input type="submit" value="Save" />
							</form>
						</div>
					</div>
				</section>
		</div>
	</div>

<script>
require(['jquery', 'fileinput'], 
function($) {
	$("#social-media-add").click(function() {
		var minusButton = $('<button/>', {type: 'button', class: 'btn btn-danger btn-number'}).append(
			$('<span/>', {class: 'glyphicon glyphicon-minus'})
		);
		minusButton.click(function() {
			$(this).parent().parent().remove();
		});
		$(this).after(
			$('<div/>', {class: 'form-inline'}).css( 'margin-bottom', '1em' ).append(
				$('<div/>', {class: 'form-group'}).append(
					$('<select/>', {name: 'socialMediaTypes[]', class: 'form-control'}).append(
						$('<option/>', {value: 'Facebook', html: 'Facebook'})
					). append(
						$('<option/>', {value: 'Website', html: 'Website'})
					). append(
						$('<option/>', {value: 'Twitter', html: 'Twitter'})
					). append(
						$('<option/>', {value: 'Google+', html: 'Google+'})
					). append(
						$('<option/>', {value: 'LinkedIn', html: 'LinkedIn'})
					). append(
						$('<option/>', {value: 'Instagram', html: 'Instagram'})
					)
				).append(
					$('<input/>', {type: 'text', name: 'socialMediaURLs[]', class: 'form-control'}).attr("placeholder", "Type the URL here")
				).append(
					minusButton
				)
			)
		);
	});
    $("#input-24").fileinput({
        initialPreview: [
            'http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg',
            'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Earth_Eastern_Hemisphere.jpg/600px-Earth_Eastern_Hemisphere.jpg'
        ],
        initialPreviewAsData: true,
        initialPreviewConfig: [
            {caption: "Moon.jpg", size: 930321, width: "120px", key: 1},
            {caption: "Earth.jpg", size: 1218822, width: "120px", key: 2}
        ],
        deleteUrl: "/site/file-delete",
        overwriteInitial: false,
        maxFileSize: 100,
        showUpload: false,
        showCaption: false
    });
});
</script>
<!-- Footer -->
{{template "footer.html" .}}

