{{set . "title" "ITB Career Center Entrepreneurship Files"}}

<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<link rel="stylesheet" href="/public/assets/css/fileinput.min.css" />
	<div id="page-wrapper">
		<!-- Nav -->
		{{template "nav.html" .}}
		<!-- Main -->
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">
							<form action="{{url "Profile.Edit" .user.UserId}}" method="POST" id="editProfile">
								<p>
									<strong>Nama Perusahaan</strong>
									<input type="text" name="user.CompanyName" value="{{.user.CompanyName}}">
								</p>
							    <p>
									<strong>Upload Foto Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Deskripsi Perusahaan</strong>
									<textarea rows="4" cols="50" name="user.CompanyDescription" form="editProfiles">{{.user.CompanyDescription}}</textarea>
								</p>
								<p>
									<strong>Link Video Youtube Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Upload Foto Perusahaan</strong>
									<input type="text">
								</p>
								<div class="form-group">
									<label class="control-label">Upload Foto Produk Perusahaan</label>
									<input id="input-24" name="input24[]" type="file" multiple class="file-loading">
									<script>
									require(['jquery', 'fileinput'], 
									function($) {
									    $("#input-24").fileinput({
									        initialPreview: [
									            'http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg',
									            'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Earth_Eastern_Hemisphere.jpg/600px-Earth_Eastern_Hemisphere.jpg'
									        ],
									        initialPreviewAsData: true,
									        initialPreviewConfig: [
									            {caption: "Moon.jpg", size: 930321, width: "120px", key: 1},
									            {caption: "Earth.jpg", size: 1218822, width: "120px", key: 2}
									        ],
									        deleteUrl: "/site/file-delete",
									        overwriteInitial: false,
									        maxFileSize: 100,
									        showUpload: false,
									        showCaption: false
									    });
									});
									</script>
								</div>
								<p>
									<strong>Visi Perusahaan</strong>
									<input type="text" name="user.Visi" value="{{.user.Visi}}">
								</p>
								<p>
									<strong>Misi Perusahaan</strong>
									<input type="text" name="user.Misi" value="{{.user.Misi}}">
								</p>
								<p>
									<strong>Social Media Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Contact Perusahaan</strong>
									<input type="text">
								</p>
								<p>
									<strong>Nama Pemilik</strong>
									<input type="text" name="user.Name" value="{{.user.Name}}">
								</p>
								<p>
									<strong>Jurusaan</strong>
									<input type="text" name="user.Jurusan" value="{{.user.Jurusan}}">
								</p>
								<p>
									<strong>Angkatan PMW</strong>
									<input type="text" name="user.Angkatan" value="{{.user.Angkatan}}">
								</p>
							    <input type="submit" value="Submit" />
							</form>
						</div>
					</div>
				</section>
		</div>
	</div>
<!-- Footer -->
{{template "footer.html" .}}

