<!-- Posts -->
	<section class="wrapper style1">
		<div class="container">
			{{ range $key, $user := .users }}
			   {{if even $key}}<div class="row">{{end}}
					<section class="6u 12u(narrower)">
						<a href="/ProfilePage/{{ $user.UserId }}" style="color: black;">
							<div class="box post">
								<div class="image left"><img src="/public/images/pic02.jpg" alt="" /></div>
								<div class="inner">
									<h3>{{ $user.CompanyName }}</h3>
									<p>{{ printf "%.25s" $user.CompanyDescription }}</p>
								</div>
							</div>
						</a>
					</section>
				{{if not (even $key)}}</div>{{end}}
			{{ end }}
			{{if not (even (len .users))}}</div>{{end}}

			<ul id="pagination" class="pagination-sm"></ul>
			<script>
			require(['jquery', 'pagination'], 
			function($) {
				  $('#pagination').pagination({
			        items: {{.userCount}},
			        itemsOnPage: {{.numUserPerPage}},
			        cssStyle: 'pagination',
			        hrefTextPrefix: "/ListProfiles/",
			        currentPage: {{.currentPageNum}}
			    });
			});
			</script>
		</div>
		
	</section>