{{set . "title" "ITB Career Center Entrepreneurship Profiles"}}
	
{{set . "NamaPerusahaan" .namaPerusahaan}}
{{set . "DeskripsiPerusahaan" .deskripsiPerusahaan}}
{{set . "Visi" .visiPerusahaan}}
{{set . "Misi" .misiPerusahaan}}
{{set . "SocialMedia" "Facebook: TonyTony"}}
{{set . "ContactUs" "081210123456"}}
{{set . "NameFounder" .namaPemilik}}
{{set . "Jurusan" .jurusan}}
{{set . "Angkatan" .angkatanPMW}}
{{set . "userContactView" .userContact}}
{{set . "userSocialMediaView" .userSocialMedia}}


<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
	<!-- Main -->
		{{template "Profile/pagecontent.html" .}}
	</div>
<!-- Footer -->
{{template "footer.html" .}}
