{{set . "NamaPerusahaan" .namaPerusahaan}}
{{set . "DeskripsiPerusahaan" .deskripsiPerusahaan}}
{{set . "Visi" .visiPerusahaan}}
{{set . "Misi" .misiPerusahaan}}
{{set . "SocialMedia" "Facebook: TonyTony"}}
{{set . "ContactUs" "081210123456"}}
{{set . "NameFounder" .namaPemilik}}
{{set . "Jurusan" .jurusan}}
{{set . "Angkatan" .angkatanPMW}}
{{set . "title" "ITB Career Center Entrepreneurship Page"}}

<!-- Header -->
{{template "header.html" .}}
<!-- Content -->
	<div id="page-wrapper">
	<!-- Nav -->
		{{template "nav.html" .}}
	<!-- Main -->
		
		<div id="page-wrapper">
			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">					
							{{if .authorized}}
								<button class="button"><a href="/ProfileForm/{{.id}}">Edit this Page</a></button>
							{{end}}
							<a href="/ProfileForm/{{.id}}" style="color: white;"><button class="btn btn-info btn-lg">Edit this Page</button></a>
							<article>
								{{if .NamaPerusahaan}}
								<header style="text-align: center;">
									<h2>{{.NamaPerusahaan}}</h2>
								</header>
								{{end}}
								{{if .userImage}}
								<h3>Perusahaan Kami</h3>
								{{range .userImage}}
								<div class="row">
									<span class="image featured"><img align="middle" src="{{.PathFile}}" alt="" /></span>
								</div>
								{{end}}
								<br><br><br>
								{{end}}
								{{if .DeskripsiPerusahaan}}
								<h3>Deskripsi Perusahaan</h3>
								<p>{{raw .DeskripsiPerusahaan}}</p>
								<br>
									{{end}}
								{{if .userVideo.PathFile}}
								<div class="row">
									<h3>Video Perusahaan Kami</h3>
									<!-- video -->
									<div align="center" class="container videoWrapper">
										<iframe width="420" height="315" src="{{.userVideo.PathFile}}" allowfullscreen>
										</iframe>
									</div>
								</div>
								<br><br><br>
								{{end}}
								{{if .userImage}}
								<h3>Produk Kami</h3>
								{{range .userImage}}
								<div class="row">
									<span class="image featured"><img align="middle" src="{{.PathFile}}" alt="" /></span>
								</div>
								{{end}}
								<br><br>
								{{end}}
								{{if .Visi}}
								<h3>Visi Perusahaan</h3>
								<p>{{.Visi}}</p>
								<br>
								{{end}}
								{{if .Misi}}
								<h3>Misi Perusahaan</h3>
								<p>{{.Misi}}</p>
								<br>
								{{end}}
								{{if .userSocialMedias}}
								<h3>Our Social Media</h3>
								<!-- for social media -->
								<div class="row" style="margin-top: 1em; margin-bottom: 1em;">
								{{ range $_, $userSocialMedia := .userSocialMedias }}
									<a href="{{$userSocialMedia.SocialMediaURL}}" class="icon
									{{if eq $userSocialMedia.SocialMediaName "Facebook"}}fa-facebook{{end}}
									{{if eq $userSocialMedia.SocialMediaName "Website"}}fa-globe{{end}}
									{{if eq $userSocialMedia.SocialMediaName "Twitter"}}fa-twitter{{end}}
									{{if eq $userSocialMedia.SocialMediaName "Google+"}}fa-google-plus{{end}}
									{{if eq $userSocialMedia.SocialMediaName "LinkedIn"}}fa-linkedin{{end}}
									{{if eq $userSocialMedia.SocialMediaName "Instagram"}}fa-instagram{{end}}
									 fa-3x 1u 2u(narrower)" style="border-bottom: none; color: rgb(0, 0, 0); text-decoration: none;" onmouseenter=""></a>
								{{end}}
								</div>
								{{end}}
								{{if .userContacts}}
								<h3>Contact Us</h3>
								{{range $_, $userContact := .userContacts}}
									<p>{{$userContact.ContactType}}: {{$userContact.Contact}}</p>
								{{end}}
								<br>
								{{end}}

								<footer>
									{{if or (or .NameFounder .Jurusan) .Angkatan}} 
									<hr>
									<h2>Founder</h2>
									<p>{{.NameFounder}}</p>	
									<p>{{.Jurusan}}</p>
									{{if .Angkatan}}
									<p>PMW {{.Angkatan}}</p>
									{{end}}
									{{end}}
								</footer>
								<p>Last Updated: {{datetime .userUpdatedAt}}</p>
							</article>
						</div>
					</div>
				</section>
		</div>

	</div>
<!-- Footer -->
{{template "footer.html" .}}
